spring:
  application:
    name: weather
  datasource:
    url: jdbc:mysql://localhost:3306/weather_db?serverTimezone=UTC&useSSL=false
    username: root
    password: 1q2w3e4r!@
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
